<div id="<%= dom_id country_data_final %>" class="w3-card-2 w3-margin-bottom w3-padding w3-border">
  <h3 class="w3-text-teal w3-border-bottom w3-padding-small"><%= country_data_final.name %></h3>

  <p>
    <strong>Mobile Phones:</strong> <%= country_data_final.mobilephones %>
  </p>

  <p>
    <strong>Mortality Under 5:</strong> <%= country_data_final.mortalityunder5 %>
  </p>

  <p>
    <strong>Health Expenditure Per Capita:</strong> <%= country_data_final.healthexpenditurepercapita %>
  </p>

  <p>
    <strong>Health Expenditure Percent of GDP:</strong> <%= country_data_final.healthexpenditureppercentgdp %>
  </p>

  <p>
    <strong>Population:</strong> <%= country_data_final.population %>
  </p>

  <p>
    <strong>Urban Population:</strong> <%= country_data_final.populationurban %>
  </p>

  <p>
    <strong>Birth Rate:</strong> <%= country_data_final.birthrate %>
  </p>

  <p>
    <strong>Life Expectancy:</strong> <%= country_data_final.lifeexpectancy %>
  </p>

  <p>
    <strong>GDP:</strong> <%= country_data_final.gdp %>
  </p>
</div>
